body {
  background-color: #f4f4f4;
}

.product-container {
  width: 90%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 20px;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

